<h1>Tasks <small ng-bind="$ctrl.status"></small></h1>

<div class="button-group">
    <button class="button tiny primary"
      ng-click="$ctrl.moveSelectedTasks()"
      ng-disabled="$ctrl.getSelectedTasks() === 0" ng-bind="$ctrl.status == 'PENDING'? 'Completed' : 'Pendient'">
    </button>
    <button type="button" class="button tiny alert"
      ng-click="$ctrl.removeSelectedTasks()"
      ng-disabled="$ctrl.getSelectedTasks() == 0">Remove
    </button>
</div>

<table class="hover" style="width: 100%">
  <tbody>
    <tr ng-repeat="item in $ctrl.data | filter: { status: $ctrl.status }">
      <td width="40">
        <input type="checkbox"
          style="margin:0"
          ng-model="item.selected" />
      </td>
      <td ng-bind="item.name"></td>
      <td width="40">
        <a href="#" ng-click="$ctrl.moveTask($event, item)">
          <i ng-class="{'fa-chevron-right': $ctrl.status === 'PENDING', 'fa-chevron-left': $ctrl.status === 'COMPLETED' }" class="fa" aria-hidden="true"></i>
        </a>
      </td>
      <td width="40">
        <a href="#" ng-click="$ctrl.removeTask($event, item)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    <tr ng-if="$ctrl.getTotal() === 0">
      <td colspan="4">No hay registros</td>
    </tr>
  </tbody>
</table>
